POSTGRES_DB=lis
POSTGRES_USER=lis
POSTGRES_PASSWORD=lis
POSTGRES_PORT=5432

LIS_DATABASE_URL=sqlite:///db/lis.sqlite3
LIS_TEST_DATABASE_URL=
LIS_SMOKE_DATABASE_URL=
LIS_AUTO_CREATE_SCHEMA=false
LIS_SCHEMA_BOOTSTRAP_MODE=runtime-sql
LIS_JWT_SECRET=change-me-in-prod
LIS_ACCESS_TOKEN_EXPIRE_MINUTES=480
LIS_ANALYZER_RUNTIME_SLEEP_SECONDS=1
